body {
	background:#FFF;
	margin:10px;
	padding:0;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}  

#site {
	width: 980px;
	margin: 0 auto;
}
#flashHolder { 
	width:800px;
	height:450px; 
	margin: 10px auto;
}
hr {
	margin:40px 0
}
.quick-test {
	background: #eeeeee;
	padding: 10px;
}
.small {
	font-size:9px;}
ul { 
	width: 400px; 
	margin: 0px auto;
	padding: 0;
	list-style-type: none;
} 
li {
	text-align:center;
	overflow:hidden; 
}

li span {
	text-align:left;
	float:left;
	width:30%;
	position:relative;
	top:5px;
}

li input { 
	float:right;
	width:70%;
}

li button {
	margin:5px;
}

ul.events li {
	display:block;
	border:1px solid #cccccc;
	margin-bottom: 20px;
}


/* code hilighting */

pre {   
	margin:10px auto;
	padding:10px;
	text-align:left;
	background: #eeeeee;
	border:1px solid #cccccc;
	
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.javascript .comment {
	color : green;
}

.javascript .string {
	color : teal;
}

.javascript .keywords {
	color : navy;
}

.javascript .global {
	color : blue;
}

.javascript .brackets {
	color : navy;
}


/*
example editor
*/
#btn-create-editor, #btn-destroy-editor {
	display:block;
	text-decoration: underline;
	cursor: pointer;
	margin-bottom:20px;
}
#btn-destroy-editor {
	display:none
}
table {width: 100%}
/* datatables fixes */
.css_right {float: right!important;}
/* uitableedit fixes */
td {cursor:default}
td.editable {cursor:text}
table form {margin: 0;}
table input, table {font-size: medium;}
td.show {width: 100px; text-align: center}